/* Only applies for resolutions greater than 1080px */
/*@media (min-width:1080px) {
    .puggysoft-common-table {
        margin: auto;
        width: 100%;
        padding-top: 3rem;
    }
}*/

/* Only applies for resolutions less than 1080px */
/*@media (max-width:1080px) {
    .puggysoft-common-table {
        margin: auto;
        width: 100%;
        padding-top: 3rem;
    }
}*/